.MovieCard {
    margin: 10px;
    border: 1px solid none;
    text-align: center;
    background-color: rgb(143, 109, 109);
    border-radius: 10px;
    width: 200px;
}

.moviename {
    color: wheat;
    background-color: rgb(143, 109, 109);
}

h4 {
    color: wheat;
    background-color: rgb(143, 109, 109);
}