.MovieList{
    display: flex;
    flex-wrap: wrap;
}
.AddButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
    color: wheat;
    padding-bottom: 55px;
}
.NavBar{
    display: flex;
    justify-content: space-between;
}
.Search{
    margin-top: 64px;
    margin-right: 100px;
}
::placeholder{
    color: wheat;
}

.Search button{
    color: wheat;
}