*{
    background-color: rgb(176, 195, 214);
}
.TodoItem{
    margin: 2px;
    border-radius: 25px;
}

.TodoItem label {
    display: inline-block;
    width: 145px;
    text-align: left;
    border-radius: 1px;
    margin-right: 20px;
}
.TodoItem input[type=text] {
    background-color: black;
    color: white;
}

button{
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
}
input[type=text]{
    border-radius :10%;
}