*{
    background-color: rgb(175, 143, 143);
}
img{
    border-radius: 5px;
}
body{
    font-family: "Lucida Console", Courier, monospace;
}
input[type=text],input[type=file]{
    margin-top: 5px;
}
h1{
    color: wheat;
    text-align: center;
}
input :focus{
    color: wheat;
}